<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mybatis.NK5Mapper">


<select id="SelectRecipePageAll" resultType="kr.smhrd.model.RecipeBasicsVO">
select * from recipe_basics
</select>

<select id="SelectRecipePageKorean" resultType="kr.smhrd.model.RecipeBasicsVO">
select * from recipe_basics where rcp_t_code = 3020001
</select>

<select id="SelectRecipePageAsia" resultType="kr.smhrd.model.RecipeBasicsVO">
select * from recipe_basics where rcp_t_code = 3020002
</select>

<select id="SelectRecipePageWestern" resultType="kr.smhrd.model.RecipeBasicsVO">
select * from recipe_basics where rcp_t_code = 3020003
</select>

<select id="SelectRecipePageFusion" resultType="kr.smhrd.model.RecipeBasicsVO">
select * from recipe_basics where rcp_t_code = 3020004
</select>






<!-- 대체식재료 -->
<select id="SelectAlternativeIngredients" resultType="kr.smhrd.model.AlternativeIngredientsVO">
select ai.alt_ingre_code,ai.raw_ingre_name,ai.alter_ingre_name,ai.brief_desc,ai.reg_date,ai.m_id
from alternative_ingredients_link al ,alternative_ingredients ai
where al.rcp_code = #{code} and al.alt_ingre_code = ai.alt_ingre_code
</select>

<!-- 상세레시피 댓글 -->

<insert id="Comment" parameterType="kr.smhrd.model.RecipeTipsVO">
insert into recipe_tips(cooking_code, m_id, user_tip, rcp_code) 
values(#{cooking_code}, #{m_id}, #{user_tip}, #{rcp_code})
</insert>

<!-- 회원 관리 -->
<select id="SelectMembers" resultType="kr.smhrd.model.MemberVO">
select * from members
</select>
<select id="SelectMember" resultType="kr.smhrd.model.MemberVO">
select * from members where m_id = #{m_id}
</select>

<insert id="InsertMember" parameterType="kr.smhrd.model.MemberVO">
insert into members(m_id,m_pwd,m_name,m_age,m_gender,admin_yn) 
values(#{m_id}, #{m_pwd}, #{m_name},#{m_age},#{m_gender},#{admin_yn})
</insert>

<delete id="DeleteRecipeTips" parameterType="kr.smhrd.model.RecipeTipsVO">
delete from recipe_tips where m_id = #{m_id} and tip_code =#{tip_code}
</delete>

<!-- 검색 관리-->
<select id="SelectRecipePageRB" resultType="kr.smhrd.model.RecipeBasicsVO">
select * from recipe_basics where rcp_code = #{code}
</select>

<select id="SelectRecipePageRC" resultType="kr.smhrd.model.RecipeCookingVO">
select * from recipe_cookings where rcp_code = #{code} order by cooking_order
</select>

<select id="SelectRecipePageRT" resultType="kr.smhrd.model.RecipeTipsVO">
select * from recipe_tips where rcp_code = #{code}
</select>

<select id="SelectRecipePageRI" resultType="kr.smhrd.model.RecipeIngredientsVO">
select * from recipe_ingredients where rcp_code = #{code}
</select>

<select id="RecipeListRB" resultType="kr.smhrd.model.RecipeBasicsVO">
select * from recipe_basics where rcp_name like CONCAT('%',#{name},'%')
</select>

<select id="RecipeListRI" resultType="kr.smhrd.model.RecipeBasicsVO">
select rb.rcp_code,rb.rcp_name,rb.rcp_desc,rb.rcp_t_code,rb.rcp_cooking_time,rb.rcp_t,rb.rcp_calory,rb.rcp_size,rb.rcp_level,rb.rcp_pic1,rb.reg_date,rb.m_id 
from recipe_ingredients ri, recipe_basics rb 
where ingre_name like CONCAT('%',#{name},'%') and ri.rcp_code = rb.rcp_code
</select>

<select id="Main" resultType="kr.smhrd.model.RecipeBasicsVO">
select * from recipe_basics
</select>

<!-- 북마크 -->
<select id="m_id" resultType="kr.smhrd.model.RecipeBasicsVO">
select *
from recipe_basics a, myrecipes b
where a.rcp_code = b.rcp_code
and b.m_id = #{name};
</select>

<select id="MyRecipes" resultType="kr.smhrd.model.MyRecipesVO">
select * from myrecipes where m_id = #{m_id} and rcp_code =#{rcp_code}
</select>

<insert id="InsertMyRecipses" parameterType="kr.smhrd.model.MyRecipesVO">
insert into myrecipes(m_id,rcp_code) 
values(#{m_id},#{rcp_code})
</insert>

<delete id="DeleteMyRecipes" parameterType="kr.smhrd.model.MyRecipesVO">
delete from myrecipes where m_id = #{m_id} and rcp_code =#{rcp_code}
</delete>


<!-- 게시판 글쓰기 -->
<insert id="boardInsert" parameterType="kr.smhrd.model.BoardListVO">
insert into boardlist(img_code, title, m_id, img_1, desc_1, img_2, desc_2
, img_3, desc_3, img_4, desc_4, img_5, desc_5, img_6, desc_6)
values(#{img_code}, #{title}, #{m_id}, #{img_1}, #{desc_1}, #{img_2}, #{desc_2}, 
#{img_3}, #{desc_3}, #{img_4}, #{desc_4}, #{img_5}, #{desc_5}, #{img_6}, #{desc_6})
</insert>

<!--  게시물 조회(클릭) -->
<select id="BoardContent" resultType="kr.smhrd.model.BoardListVO">
select * from boardlist where img_code = ${img_code};
</select>

<select id="BoardList" resultType="kr.smhrd.model.BoardListVO">
select img_code, title, m_id from boardlist;
</select>

<!-- 글 삭제 -->
<delete id="BoardDelete" parameterType="kr.smhrd.model.BoardListVO">
Delete from boardlist
where img_code = ${img_code}
and m_id = '${m_id}';
</delete>

<!-- 글 수정 -->
<update id="BoardUpdate" parameterType="kr.smhrd.model.BoardListVO">
update boardlist set title=#{title}, 
img_1=#{img_1}, desc_1=#{desc_1}, 
img_2=#{img_2}, desc_2=#{desc_2},
img_3=#{img_3}, desc_3=#{desc_3},
img_4=#{img_4}, desc_4=#{desc_4},
img_5=#{img_5}, desc_5=#{desc_5},
img_6=#{img_6}, desc_6=#{desc_6}
where img_code=#{img_code}
</update>


</mapper>







